<launch>
<!-- Convert an xacro and put on parameter server -->
<param name="robot_description" textfile="$(find rc_car)/urdf/car.urdf" />

<include file="$(find gazebo_ros)/launch/empty_world.launch"/>
<!-- Spawn a robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model rc_car" />

</launch>
